/* MAIN PAGE */
* {
    background-color: rgb(58,31,93);
    color: #fff;
}

/* NAV BAR */

.navbar {
    display: flex;
    color: rgb(255, 255, 255);
    background-color:  rgb(58,31,93);
    align-items: center;
    padding: 10px 5px 10px 5px;
}

.logo img {
    margin-right: auto;
}

.navbar-links {
    display: stretch;
    margin-left: auto;
    font-family: Verdana;
    font-size: 17px;
}

/* Hero Section */

.hero-section {
    border: 1px solid #fff;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    background-color:  rgb(58,31,93);
}

.big-logo img {
    padding: 10px 5px 10px 5px;
}

.hero-text {
    padding: 10px 5px 10px 5px;
    font-family: Verdana;
    font-size: 17px;
}
