/* MAIN PAGE */
body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

/* NAV BAR */

.navbar {

    background:  rgb(58,31,93);
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 25px 0px 25px 20px;
}

.logo img {
    margin-right: auto;
}

.navbar-links a{
    text-decoration: none;
    background-color: rgb(58,31,98);
    color: #fff;
    padding: 0px 0px 0px 0px;
}
.navbar-links {
    display: stretch;
    margin-left: auto;
    font-family: Verdana;
    font-size: 17px;
}

/* Hero Section */

.hero-section {
    padding: 50px 0px 0px 50px;
    display: inline-flex;
    flex-direction: row-reverse;
    align-content: baseline;
    background-color:  rgb(58,31,98);
}

.big-logo img {
    padding: 10px 5px 10px 5px;
}

.hero-text {
    padding: 10px 5px 10px 5px;
    color: #fff;
    font-family: Verdana;
    font-size: 17px;
}

/* Carosel portion */

.body-main {
    background-color: rgb(218, 216, 216);
    padding: 10px 0px 0px 10px
    display: stretch;
    width: auto;
}

.meet-team {
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: 'Roboto', arial;
}

.staff-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.staff-team p{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.staff-team img {
    height:160px;
    width: 160px;
    object-fit: cover;
    border: 5px solid rgb(64, 30, 97);
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* Quote section here */

.quote-section {
    display: flex;
    height: 200px;
    background: rgb(155, 154, 154);
    padding: 0px 20px 0px 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', arial;
}

.quote-section h2 {
    display: stretch;
    margin-left: auto;
    font-family: 'Roboto', arial;
}

/* Join Us Here! */

.join-us {
    display: flex;
    height: 200px;
    background-color: #fff;
    padding: 0px 20px 0px 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', arial;
    flex-direction: column;
}

.discord-link {
    display: center;
    align-content: flex;
}

.discord-link h2 {
    color: black;
}

.discord-link button {
    background-color:blue;
    font-family: 'Roboto', arial;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-color: rgb(4, 4, 66);
    border: 1px;
    border-radius: 15px;
    height: 50px;
    width: 75px;
}

.footer {
    background-color: rgb(218, 216, 216);
}